---
layout: layouts/html.jade
title: Christina and Jeffrey
---

article.logo
  .container
    .row
      header.col-md-12.center-block
        img.img-responsive(src="/assets/logo.png" width="2398px" height="976px")
      section.col-md-12.text-center.invite
        h2 Would like to request the honour of your presence as they exchange wedding vows at
      section.col-md-12.center-block.text-center.venue
        a(href="/resort/")
          img(src="/assets/costarica.png" width="492px" height="171px")
      footer.col-md-12.center-block.text-center.date
        h3 January 25
        h3 Two Thousand Seventeen
