---
layout: layouts/html.jade
title: Join Us!
---

section.about#about
  .container
    h1 Join Us!
    .row
      .col-md-8
        :markdown-it
          We would be so honoured to have you share our special day with us.  To book your all-inclusive vacation package, please contact Steph at blah blah to take advantage of our group rate and block of rooms.  All airport transfers will be included in the package, so all you have to do is show up and enjoy the ride.

        p Contact information coming soon.

        .text-center
          img.img-responsive(src="/assets/logo.png" width="2398px" height="976px")

      .col-md-4
        img.img-responsive.img-thumbnail(src="/assets/book.jpg" width="800px" height="699px")
