---
layout: layouts/html.jade
title: The Resort
---


section.about#about
  .container
    .row
      h1 The Resort
      .col-md-8
        :markdown-it
          The [Hotel Riu Palace Costa Rica](http://www.riu.com/en/Paises/costa-rica/guanacaste/hotel-riu-palace-costa-rica/) (All Inclusive 24h), is located in Guanacaste, Costa Rica on the edge of the beach of Matapalo. This hotel, fully prepared to provide the best service to its customers, has four swimming pools (one with a wet bar), jacuzzi, gym, sauna and a wellness center "Renova Spa" with different treatments and massages. Everything you need for maximum comfort during your stay.

          The quality of the cuisine offered at the different restaurants of the hotel is exceptional thanks to our chefs, who prepare a variety of dishes, from classic to the most exotic. You'll want to to try each of our menusand thanks to the All Inclusive service, you will be able to enjoy the buffet restaurant or the four different theme restaurants of the hotel.

          Being on a privileged environment, the hotel offers a variety of activities on the beautiful beaches such as diving or fishing in the Pacific waters, ecotourism in the volcanic areas, and during the day several programs of entertainment for all ages, whether in family or friends. The hotel has a gym, table tennis, volleyball, tennis court, windsurf, sailing, snorkeling equipment, kayaks and other water activities. If your favorite sport is golf, the Four Seasons Golf Club has fantastic views over the sea.

          Guanacaste is less tropical, humid and lush than the rest of the country. Its plains and dry forests sometimes remind African savanna landscapes. Inland you can see the savanna, local cowboys on their horses while driving their flocks, which are authentic figures of popular culture of this destination. From the hotel, you can do several excursions that you can not lose, like the visit of the National Park Rincon de la Vieja, the Safari Park or the capital of Guanacaste: Liberia.
      .col-md-4
        a(href="http://www.riu.com/en/Paises/costa-rica/guanacaste/hotel-riu-palace-costa-rica/" target="_blank")
          img.img-responsive.img-thumbnail(src="/assets/resort.jpg" width="900px" height="599px")
        p.text-center.cta
          a.btn.btn-primary.btn-lg(href="http://www.riu.com/en/Paises/costa-rica/guanacaste/hotel-riu-palace-costa-rica/") See More Details
